<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4>
        <% user = User.find_by({"id" => post["user_id"]}) %>
        <% if user %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
      </h4>
      <a href="/posts/<%= post["id"] %>">
        <img src="<%= post["image"] %>" class="img-fluid w-full">
      </a>
      <p><%= post["body"] %></p>
      <a href="/posts/<%= post["id"] %>">View comments</a>
    </div>
  <% end %>
</div>